<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookmark Manager</title>
  </head>
  <body>
  <ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="<%= bookmark.id %>">
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete">
      </form>
    </li>
    <% end %>
  </ul>
  </body>
</html>
