<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookmark Manager</title>
  </head>
  <body>
    <form action="/bookmarks/<%= @bookmark.id %>" method="post">
      <input type="hidden" name="_method" value="PUT" />
      <input type="text" name="url" placeholder="Enter URL" />
      <input type="text" name="title" placeholder="Enter title" />
      <input type="submit" value="Update" />
    </form>
  </body>
</html>
